html {
    font-size: 100%;
}
#app {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    min-height: 600px;
}

canvas {
    min-height: 600px;
}

#page-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 85%;
    width: 60vw;
    height: 600px;
    min-height: 600px;
    min-width: 600px;
    background-color: rgb(46,46,46);
    border-radius: 15px;
}

#nav-box {
    grid-column: 1/5;
    grid-row: 1/2;
}

.main-box {
    grid-column: 1/5;
    grid-row: 2/3;
    height: 100%;
    background-color: rgb(46,46,46);
    border-radius: 0px 0px 15px 15px;
}

@media screen and (max-width: 600px) {
    #page-container {
        grid-template-rows: 10% 90%;
        width: 95vw;
        height: 98%;
        min-height: 580px;
        min-width: 320px;
    }.main-box {
        overflow-y: auto;
    }
}



